<template>
    <div>
        <input type="button" v-on:click="generate()" value="Gerar">
        <table>
            <tr>
                <td>{{first}}</td>
                <td>{{seccond}}</td>
                <td>{{third}}</td>
                <td>{{fourth}}</td>
                <td>{{fifth}}</td>
                <td>{{sixty}}</td>
            </tr>
        </table>
    </div>        
</template>

<script>
    export default {
        name: 'Sorteio',            
        data: () => {
            return {
                first: 0,
                seccond: 0,
                third: 0,
                fourth: 0,
                fifth: 0,
                sixty: 0
            }
        },
        methods: {
            generate: function () {
                        this.first = Math.round(Math.random() * 60)
                        this.seccond = Math.round(Math.random() * 60)
                        this.third = Math.round(Math.random() * 60)
                        this.fourth = Math.round(Math.random() * 60)
                        this.fifth = Math.round(Math.random() * 60)
                        this.sixty = Math.round(Math.random() * 60)
                    }
        },        
        props: {
            teste: String
        }        
    }

</script>
